@page "/"
@using Web.Models
@inject HttpClient Http

<PageTitle>Home</PageTitle>

<h1>Lab Orders</h1>

@if (labOrderResults.Count() == 0)
{
    <p><em>Loading lab order results...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Order Id</th>
                <th>Patient Id</th>
                <th>Description</th>
                <th>Visit Id</th>
                <th>Order Time</th>
                <th>Result Time</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in labOrderResults)
            {
                <tr>
                    <td><a href="results/@order.OrderProcedureId">@order.OrderProcedureId</a></td>
                    <td>@order.PatientId</td>
                    <td>@order.Description</td>
                    <td>@order.PatientEncounterCsnId</td>
                    <td>@order.OrderTime</td>
                    <td>@order.ResultTime</td>
                </tr>
            }
        </tbody>
    </table>

}


@code {
    private LabOrderResults[] labOrderResults = [];

    protected override async Task OnInitializedAsync()
    {        
        try {
            labOrderResults = await Http.GetFromJsonAsync<LabOrderResults[]>($"/api/laborder");
        }
        catch (Exception ex) {
            Console.WriteLine(ex.Message);
        }
    }
}
